<script>
  $('#shop_map').addClass('active');
</script>
<div class="map-container">
  <div id="map" style="height:500px;">
  </div>
</div>

<%= javascript_tag "var shops = #{@shops.to_json}" %>
<script>
  var map = new GMaps({
    div: '#map',
      lat: 0,
      lng: 0
  });

var shops_latlng = []; 

addshops(map,shops,shops_latlng);
</script>
