/*
 *= require rails_bootstrap_forms
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Titan+One);

header {
  background-color : #2980b9;
  height : 6%;
  position: relative;
  text-align:center;
  font-family: 'Titan One', cursive;
}

body {
  margin:auto;
  padding: auto;
  color: white;
  font-family: Verdana, sans-serif;
  background-color: #34495E;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

// add asterisk for required field
label.required:after {
    content:" *";
  }

// Three div used for vertical centering
.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
}
