<!DOCTYPE html>
<html>
  <head>
    <title>Shoploc</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class='container'>   
      <header>
        <h1><i class="fa fa-map-marker"></i>SHOPLOC</h1>
      </header>

      <%= yield %>

    </div>
  </body>
</html>
